body {
  text-align: justify;
  margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
	color: #0b76a6;
	background-color: #ff0000; 
	font-size: 1em;
	line-height: 1.5em;
  background-color: rgb(251, 250, 250);
}
  
.exampletwo {
background-color: rgb(153, 102, 153);
color: rgb(255, 255, 204);
}
  
.examplethree {
background-color: #777799;
color: #ffffff;
}

navegador ul {
  list-style-type: none;
  text-align: center;
}

navegador li a {
padding: 2px 7px 2px 7px;
color: #ffffff;
background-color: #eeeeee;
border: 1px solid #ccc;
text-decoration: none;
}

navegador li a:hover {
  background-color: #333333;
  color: #ffffff;
}

.main-footer {
  background: rgb(2, 235, 216);
  color: green;
  text-align: center;
  padding: 30px;
  margin-top: 40px;
}

.main-footer p {
      margin: 0;
  }
  
  .main-footer a {
      color: greenyellow;
  }
