body {
    background-color: rgb(251, 250, 250);
}
  
  .exampletwo {
    background-color: rgb(153, 102, 153);
    color: rgb(255, 255, 204);
  }
  
  .examplethree {
    background-color: #777799;
    color: #ffffff;
  }

navegador ul {
  list-style-type: none;
  text-align: center;
 }